<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Profile</title>


</head>
<body>
    <h1>Kết quả generate Profile</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Values</td>
            <td>Text</td>
        </tr>
        {% for obj in data %}
            <tr>
                {% for key, values in obj.items %}
                <td>{{key}}</td>
                {% for v in values %}
                <td>{{v}}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        {% endfor %}

    </table>




</body>
</html>